<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
		#msg{
			margin-left: 15px;
		}
	</style>
</head>
<body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">
		var socket = io();//io(paht//server//url)

		socket.on("screenshot", function(data){
			$("#img").src = "data:image/jpg;base64," + data;
		});


	</script>

	<img id="img" src="">
	<h1>Welcome to Chat  <%= chat.id %></h1>
	<h2>Name: <%= chat.name%> </h2>
	<h3>Date: <%= chat.date%> </h3>
	<h4>Class Name: <%= chat.className%> </h4>
	<h5>School: <%= chat.school%> </h5>
	<!-- 
		/*
		CHAT OBJECT PROPERTIES
			name : String,
			date  : Date,
			type : Number,
			className : String,
			school : String,
			files : Array,
			presenter : {type : String, ref : 'User'},
			participants : {type : Array, ref : 'User'}
		*/
	  -->

	<!-- 
		Messages OBJECT PROPERTIES
			// 	message : String,
			// 	user : {type: Number, ref: 'User'},
			// 	chatRoom  : {type: String, ref: 'ChatRoom'},
			// 	date : Date	
	-->

	<br>
	<br>

	<% for (var i in messages) { %>
		<p ><%= messages[i].user.ref %></p>
		<p id="msg"><%= messages[i].message %></p>
	<% } %>


</body>
</html>