<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %> Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	
  
    <h1>Hello Mr. <%= user.name %></h1>
    <h2>email: <%= user.email %></h2>
    <h3>Username: <%= user.userName %></h3>
    <h4>Password: ****</h4>
    <h5>IP: <%= user.IP %></h5>
    <h6>Type: <%= user.type %></h6>

  </body>
</html>
